.jumbotron{
    background-color: rgb(37, 36, 36);
    margin-bottom: 50px;
    color:#fff;
}

.card-tienda{
    flex: 1 250px;
    margin-top: 20px;
}

.btn-comprar{
    width: 100%;
    border-radius: 0;
}

a{
    color: white;
}

.tab-content{
    padding-top: 10px;;
}

footer{
    margin-top: 20px;
    padding: 20px;
    background-color: #008cba;   
    color: white;
}

.footer-address-icon{
    padding-right: 10px;
}   